.header {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: center;
  display:block;
  margin-bottom: 20px;
  padding-bottom: 25px;
  background:#F0F5F5;
}

#vigetLogo {
 width: 275px;
 height: 134px;
 align="middle"
}

.user {
    margin: 20px;
    background-color: blue;
    height: 150px;
    width: 150px;
    border-radius: 75px;
    float:left;
    position:relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

  /* */
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite;
  /* */
}

.userContent {
    height:100%; width:100%;
    display:table;
}

.countryName {
    color: white;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding:1em;
    font-family: 'Montserrat', sans-serif;
}



@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
