/* Circle */
.user {
    margin: 20px;
    background-color: #000;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    float:left;
    position:relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;

}

.userContent {
    height:100%; width:100%;
    display:table;
}

.countryName {
    color: white;
/*    position:absolute; */
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    padding:1em;
/*    height: 150px;
    width: 100px;
    border-radius: 50%;
    right: 0px;
    left: 0px;
    top: 25%;
    bottom: 0px; */

}
